/* Estilos personalizados */
body {
    font-family: Arial, sans-serif;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.card {
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

footer {
    background-color: #343a40;
    color: white;
    padding: 1rem 0;
}

/* Estilos para los controles del carrusel */
.carousel-control-prev,
.carousel-control-next {
    background-color: rgba(172, 135, 32, 0.5); /* Fondo semi-transparente */
    width: 40px; /* Ancho de los botones */
    height: 40px; /* Alto de los botones */
    border-radius: 50%; /* Forma circular */
    top: 50%; /* Centrar verticalmente */
    transform: translateY(-50%);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: brightness(0) invert(1); /* Cambiar el color de los íconos a blanco */
}

/* Ajustes para las imágenes del carrusel */
.carousel-inner .d-flex {
    padding: 0 50px; /* Espacio a los lados para los controles */
}

.carousel-item img {
    margin: 0 10px; /* Espacio entre las imágenes */
    transition: transform 0.3s ease; /* Transición suave */
    border-color: gold
}

.carousel-item img:hover {
    transform: scale(1.1); /* Ampliar la imagen al 110% de su tamaño */
}

/* Estilos para el carrusel en dispositivos móviles */
@media (max-width: 767.98px) {
    .carousel-inner .d-flex {
        flex-direction: column; /* Cambiar la dirección a columna */
        align-items: center; /* Centrar las imágenes */
    }

    .carousel-item img {
        margin: 10px 0; /* Espacio entre las imágenes */
        width: 80%; /* Reducir el tamaño de las imágenes */
    }

    .carousel-control-prev,
    .carousel-control-next {
        width: 30px; /* Reducir el tamaño de los controles */
        height: 30px;
    }
}

/* Estilos para el contenedor de productos */
#catalogo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Estilos para las tarjetas de productos */
.card {
    flex: 1 1 calc(33.333% - 20px); /* 3 columnas por defecto */
    margin: 10px;
    box-sizing: border-box;
}

/* Ajustes para dispositivos móviles */
@media (max-width: 767.98px) {
    .card {
        flex: 1 1 calc(50% - 20px); /* 2 columnas en móviles */
    }
}

@media (max-width: 575.98px) {
    .card {
        flex: 1 1 calc(100% - 20px); /* 1 columna en móviles muy pequeños */
    }
}